/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/input-macro.njk" import inputMacro %}

{% block pageTitle %}
Workers Utility - Add
{% endblock %}

{% block content %}

{% if errors %}
  {{ govukErrorSummary({
    titleText: "There’s a problem.",
    errorList: errors
  }) }}
{% endif %}

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    
    <form class="form" action="/add", method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Add a location
          </h1>
        </legend>
        
        {{ inputMacro(
          name = "name",
          label = "Location Name",
          value = name,
          errorMessage = errorList.name
        ) }}

        {{ inputMacro(
          name = "latitude",
          label = "Latitude",
          value = latitude,
          errorMessage = errorList.latitude
        ) }}

        {{ inputMacro(
          name = "longitude",
          label = "Longitude",
          value = longitude,
          errorMessage = errorList.longitude
        ) }}

      {{ govukButton({
        text: "Add location"
      }) }}
    </fieldset>
    </form>
  </div>
</div>
{% endblock %}