/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
Workers Utility - Add
{% endblock %}

{% block content %}

{% if errors %}
  {{ govukErrorSummary({
    titleText: "There’s a problem.",
    errorList: errors
  }) }}
{% endif %}

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <form class="form" action="/add", method="post">
      {% call govukFieldset({
        legend: {
          text: "New Worker Details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

  {{ govukInput({
    label: {
      text: "Worker ID"
    },
    classes: "govuk-input--width-10",
    id: "worker-id",
    name: "worker-id",
    type: "number",
    value: workerId,
    errorMessage: {
      text: errorList.worker
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Name"
    },
    classes: "govuk-input--width-10",
    id: "name",
    name: "name",
    value: name,
    errorMessage: {
      text: errorList.name
    }
  }) }}

  {{ govukInput({
    label: {
      text: 'Latitude'
    },
    classes: "govuk-input--width-10",
    id: "latitude",
    name: "latitude",
    value: latitude,
    errorMessage: {
      text: errorList.latitude
    }
  }) }}

  {{ govukInput({
    label: {
      text: 'Longitude'
    },
    classes: "govuk-input--width-10",
    id: "longitude",
    name: "longitude",
    value: longitude,
    errorMessage: {
      text: errorList.longitude
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Home"
    },
    classes: "govuk-input--width-10",
    id: "home",
    name: "home",
    value: home,
    errorMessage: {
      text: errorList.home
    }
  }) }}

{% endcall %}

{{ govukButton({
      text: "Add worker"
    }) }}
    </form>
  </div>
</div>
{% endblock %}