/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Workers Utility - All Workers
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <table class="govuk-table" id="workerTable">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Worker ID</th>
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Location (Latitude, Longitude)</th>
        <th class="govuk-table__header">Home</th>
      </tr>
    </thead>

    <tbody>
      {% for item in list %}
      <tr class="govuk-table__row" id='line{{loop.index}}'>
        <td class="govuk-table__cell" id='wid{{loop.index}}'>{{item.workerId}}</td>
        <td class="govuk-table__cell" id='name{{loop.index}}'>{{item.name}}</td>
        <td class="govuk-table__cell" id='location{{loop.index}}'>{{item.location.latitude}}, {{item.location.longitude}}</td>
        <td class="govuk-table__cell" id='home{{loop.index}}'>{{item.home}}</td>
        <td class="govuk-table__cell"><button id='del{{loop.index}}' onclick="changeItem(this.id)">Change Details</button></td>
        <td class="govuk-table__cell"><button id='del{{loop.index}}' onclick="delItem(this.id)">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="govuk-grid-row">
  <br>
  <form action="/">
    {{ govukButton({
    text: "Return to landing page"
    }) }}
  </form>
</div>
<script>
  const changeItem = (id) => {
    id = id.substring(3);
    const g = document.getElementById(`line${id}`);
    const workerId = g.cells[0].innerText;
    const name = g.cells[1].innerText;
    const location = g.cells[2].innerText;
    const home = g.cells[3].innerText;

    let l = location.split(',');
    let lat = l[0].substring(l[0].indexOf(':') + 1).trim();
    let long = l[1].substring(l[1].indexOf(':') + 1).trim();
    window.location.replace(`/change?workerId=${workerId}&name=${name}&latitude=${lat}&longitude=${long}&home=${home}`);
  };
  const delItem = (id) => {
    id = id.substring(3);
    const g = document.getElementById(`line${id}`);
    const workerId = g.cells[0].innerText;
    window.location.replace(`/delete?workerId=${workerId}`);
  };
</script>
{% endblock %}