/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Workers Utility - Update
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <form class="form" action="/find", method="post">
      {% call govukFieldset({
        legend: {
          text: "Find Worker by ID",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
        text: "Worker ID"
      },
      classes: "govuk-input--width-10",
        id: "worker-id",
        name: "workerId",
        value: workerId
      }) }}

      {% endcall %}

      {{ govukButton({
        text: "Find worker"
      }) }}

    </form>
  </div>
  {% if data !== '' %}
    <div class="govuk-grid-row">
      {{ govukTable({
        caption: "Worker Details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Name"
              },
            {
              text: data.name
            }
          ],
          [
            {
              text: "Location (latititude, longitude)"
            },
            {
              text: data.location.latitude+', '+data.location.longitude
            }
          ],
          [
            {
              text: "Home"
            },
            {
              text: data.home
            }
          ]
        ]
      }) }}
    </div>
  {% endif %}
</div>

<div class="govuk-grid-row">
  <form class="form" action="/">
    {{ govukButton({
      text: "Return to landing page"
    }) }}
  </form>
</div>
{% endblock %}