/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/input-macro.njk" import inputMacro %}

{% block pageTitle %}
Workers Utility - Update
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <form class="form" action="/find", method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Find a worker by ID
          </h1>
        </legend>
        
        {{ inputMacro(
          name = "worker-id",
          label = "Worker ID",
          value = workerId,
          errorMessage = errorList.worker,
          type = 'number'
        ) }}

        {{ govukButton({
          text: "Find worker"
        }) }}
      </fieldset>
    </form>
  </div>
  <div class="govuk-grid-row">
    <p>Worker id: {{workerId}}</p>
  </div>
  {% if data === 500 %}
  <div class="govuk-grid-row">
    <p>Worker not found</p>
  </div>
  {% elseif data !== '' %}
    <div class="govuk-grid-row">
      {{ govukTable({
        caption: "Worker Details",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Name"
              },
            {
              text: data.name
            }
          ],
          [
            {
              text: "Location (latititude, longitude)"
            },
            {
              text: data.location.latitude+', '+data.location.longitude
            }
          ],
          [
            {
              text: "Home"
            },
            {
              text: data.home
            }
          ]
        ]
      }) }}
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <form class="form" action="/">
      {{ govukButton({
        text: "Return to landing page"
      }) }}
    </form>
  </div>
</div>
{% endblock %}