/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
Workers Utility - Home List
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
  <h1>List of workers living in {{home}}</h1>
</div>
<div class="govuk-grid-row">
  <form class="form" action="/" , method="'post">
    <table class="govuk-table" id="workerTable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">ID</th>
        </tr>
      </thead>

      <tbody>
        {% for worker in data %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{worker.name}}</td>
          <td class="govuk-table__cell">{{worker.workerId}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ govukButton({
    text: "Return to landing page"
    }) }}
  </form>
</div>
</div>
{% endblock %}