/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
Workers Utility - Landing
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-grid-row">
    <form class="form" action="/choice">
      {{ govukRadios({
        idPrefix: "what-do-you-want-to-do",
        name: "what-do-you-want-to-do",
        fieldset: {
          legend: {
            text: "What do you want to do?",
              isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }, 
        items: [
          {
            value: "all",
            text: "See a list of all workers"
          },
          {
            value: "home",
            text: "See a list of workers at a particular home"
          },
          {
            value: "add",
              text: "Add a worker to the list"
          },
          {
            value: "find",
              text: "Find a worker by ID"
          }
        ]
      }) }}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
</div>
{% endblock %}