/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Workers Utility - Landing
{% endblock %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <form action="/get-worker" method="GET">
        {{ govukButton({
          text: "Get details for worker 21882000"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-row">
      <form action="/get-invalid" method="GET">
        {{ govukButton({
          text: "Get invalid ID"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-row">
      <form action="/get-all" method="GET">
        {{ govukButton({
          text: "Get all workers"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-row">
      <form action="/worker-by-home" method="GET">
        {{ govukButton({
          text: "Find Worker By Home (home='home')"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}