/** * Created by Patrick Whittaker */

{% extends "layout/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Workers Utility - Workers
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {{ govukTable({
      caption: "Worker Details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "STATUS:"
        },
        {
          text: "Worker ID"
        },
        {
          text: "Name"
        },
        {
          text: "Location"
        },
        {
          text: "Home"
        }
      ],
      rows: [
        [
          {
            text: rc
          },
          {
            text: id
          },
          {
            text: name
          },
          {
            text: 'latitude: ' + lat + ', longitude: ' + long
          },
          {
            text: home
          }
        ]
      ]
    }) }}
  </div>
  <div class="govuk-grid-row">
    <form action="/" method="GET">
      {{ govukButton({
        text: "Return to landing page"
      }) }}
    </form>
  </div>
{% endblock %}